 
 body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    /*background-image: linear-gradient(rgb(3,48,111),rgb(5,27,48));*/
    background-color: rgb(3,48,111);
    background-image: url("./KIEAN_LOGO.png");
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: 300px 200px;
 }

 .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
 }

 .logo{
    height: calc(100vh*.2);
    width: auto;
    background-color: rgb(82, 104, 145);
 }

 .top-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    color: rgb(230,97,76);
    background-color: rgb(82, 104, 145);
    padding: 5px;
    border-radius: 20px;
 }

.qrArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    box-shadow: wheat 0px 0px 10px 2px;
}

#studentname{
    color: rgb(247,166,61);
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

#status{
   width: 320px;
   background-color: #173272;
   color: rgb(246, 241, 242) ;
   font-size: 1.5rem;
   opacity: 0.9;
   box-shadow: wheat 0px 0px 10px 2px;
}