 
 body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(rgb(3,48,111),rgb(5,27,48));
 }

 .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
 }

 .logo{
    height: calc(100vh*.3);
    width: auto;
    background-color: rgb(82, 104, 145);
 }

 .top-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
 }

.qrArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    gap:10px
}